<HTML>
<BODY BGCOLOR="white">
<PRE>
<FONT color="green">001</FONT>    package android.view.inputmethod;<a name="line.1"></a>
<FONT color="green">002</FONT>    <a name="line.2"></a>
<FONT color="green">003</FONT>    import android.os.Bundle;<a name="line.3"></a>
<FONT color="green">004</FONT>    import android.os.Parcel;<a name="line.4"></a>
<FONT color="green">005</FONT>    import android.os.Parcelable;<a name="line.5"></a>
<FONT color="green">006</FONT>    import android.text.InputType;<a name="line.6"></a>
<FONT color="green">007</FONT>    import android.text.TextUtils;<a name="line.7"></a>
<FONT color="green">008</FONT>    import android.util.Printer;<a name="line.8"></a>
<FONT color="green">009</FONT>    <a name="line.9"></a>
<FONT color="green">010</FONT>    /**<a name="line.10"></a>
<FONT color="green">011</FONT>     * An EditorInfo describes several attributes of a text editing object<a name="line.11"></a>
<FONT color="green">012</FONT>     * that an input method is communicating with (typically an EditText), most<a name="line.12"></a>
<FONT color="green">013</FONT>     * importantly the type of text content it contains.<a name="line.13"></a>
<FONT color="green">014</FONT>     */<a name="line.14"></a>
<FONT color="green">015</FONT>    public class EditorInfo implements InputType, Parcelable {<a name="line.15"></a>
<FONT color="green">016</FONT>        /**<a name="line.16"></a>
<FONT color="green">017</FONT>         * The content type of the text box, whose bits are defined by<a name="line.17"></a>
<FONT color="green">018</FONT>         * {@link InputType}.<a name="line.18"></a>
<FONT color="green">019</FONT>         * <a name="line.19"></a>
<FONT color="green">020</FONT>         * @see InputType<a name="line.20"></a>
<FONT color="green">021</FONT>         * @see #TYPE_MASK_CLASS<a name="line.21"></a>
<FONT color="green">022</FONT>         * @see #TYPE_MASK_VARIATION<a name="line.22"></a>
<FONT color="green">023</FONT>         * @see #TYPE_MASK_FLAGS<a name="line.23"></a>
<FONT color="green">024</FONT>         */<a name="line.24"></a>
<FONT color="green">025</FONT>        public int inputType = TYPE_NULL;<a name="line.25"></a>
<FONT color="green">026</FONT>    <a name="line.26"></a>
<FONT color="green">027</FONT>        /**<a name="line.27"></a>
<FONT color="green">028</FONT>         * Set of bits in {@link #imeOptions} that provide alternative actions<a name="line.28"></a>
<FONT color="green">029</FONT>         * associated with the "enter" key.  This both helps the IME provide<a name="line.29"></a>
<FONT color="green">030</FONT>         * better feedback about what the enter key will do, and also allows it<a name="line.30"></a>
<FONT color="green">031</FONT>         * to provide alternative mechanisms for providing that command.<a name="line.31"></a>
<FONT color="green">032</FONT>         */<a name="line.32"></a>
<FONT color="green">033</FONT>        public static final int IME_MASK_ACTION = 0x000000ff;<a name="line.33"></a>
<FONT color="green">034</FONT>        <a name="line.34"></a>
<FONT color="green">035</FONT>        /**<a name="line.35"></a>
<FONT color="green">036</FONT>         * Bits of {@link #IME_MASK_ACTION}: no specific action has been<a name="line.36"></a>
<FONT color="green">037</FONT>         * associated with this editor, let the editor come up with its own if<a name="line.37"></a>
<FONT color="green">038</FONT>         * it can.<a name="line.38"></a>
<FONT color="green">039</FONT>         */<a name="line.39"></a>
<FONT color="green">040</FONT>        public static final int IME_ACTION_UNSPECIFIED = 0x00000000;<a name="line.40"></a>
<FONT color="green">041</FONT>        <a name="line.41"></a>
<FONT color="green">042</FONT>        /**<a name="line.42"></a>
<FONT color="green">043</FONT>         * Bits of {@link #IME_MASK_ACTION}: there is no available action.<a name="line.43"></a>
<FONT color="green">044</FONT>         */<a name="line.44"></a>
<FONT color="green">045</FONT>        public static final int IME_ACTION_NONE = 0x00000001;<a name="line.45"></a>
<FONT color="green">046</FONT>        <a name="line.46"></a>
<FONT color="green">047</FONT>        /**<a name="line.47"></a>
<FONT color="green">048</FONT>         * Bits of {@link #IME_MASK_ACTION}: the action key performs a "go"<a name="line.48"></a>
<FONT color="green">049</FONT>         * operation to take the user to the target of the text they typed.<a name="line.49"></a>
<FONT color="green">050</FONT>         * Typically used, for example, when entering a URL.<a name="line.50"></a>
<FONT color="green">051</FONT>         */<a name="line.51"></a>
<FONT color="green">052</FONT>        public static final int IME_ACTION_GO = 0x00000002;<a name="line.52"></a>
<FONT color="green">053</FONT>        <a name="line.53"></a>
<FONT color="green">054</FONT>        /**<a name="line.54"></a>
<FONT color="green">055</FONT>         * Bits of {@link #IME_MASK_ACTION}: the action key performs a "search"<a name="line.55"></a>
<FONT color="green">056</FONT>         * operation, taking the user to the results of searching for the text<a name="line.56"></a>
<FONT color="green">057</FONT>         * the have typed (in whatever context is appropriate).<a name="line.57"></a>
<FONT color="green">058</FONT>         */<a name="line.58"></a>
<FONT color="green">059</FONT>        public static final int IME_ACTION_SEARCH = 0x00000003;<a name="line.59"></a>
<FONT color="green">060</FONT>        <a name="line.60"></a>
<FONT color="green">061</FONT>        /**<a name="line.61"></a>
<FONT color="green">062</FONT>         * Bits of {@link #IME_MASK_ACTION}: the action key performs a "send"<a name="line.62"></a>
<FONT color="green">063</FONT>         * operation, delivering the text to its target.  This is typically used<a name="line.63"></a>
<FONT color="green">064</FONT>         * when composing a message.<a name="line.64"></a>
<FONT color="green">065</FONT>         */<a name="line.65"></a>
<FONT color="green">066</FONT>        public static final int IME_ACTION_SEND = 0x00000004;<a name="line.66"></a>
<FONT color="green">067</FONT>        <a name="line.67"></a>
<FONT color="green">068</FONT>        /**<a name="line.68"></a>
<FONT color="green">069</FONT>         * Bits of {@link #IME_MASK_ACTION}: the action key performs a "next"<a name="line.69"></a>
<FONT color="green">070</FONT>         * operation, taking the user to the next field that will accept text.<a name="line.70"></a>
<FONT color="green">071</FONT>         */<a name="line.71"></a>
<FONT color="green">072</FONT>        public static final int IME_ACTION_NEXT = 0x00000005;<a name="line.72"></a>
<FONT color="green">073</FONT>        <a name="line.73"></a>
<FONT color="green">074</FONT>        /**<a name="line.74"></a>
<FONT color="green">075</FONT>         * Bits of {@link #IME_MASK_ACTION}: the action key performs a "done"<a name="line.75"></a>
<FONT color="green">076</FONT>         * operation, typically meaning the IME will be closed.<a name="line.76"></a>
<FONT color="green">077</FONT>         */<a name="line.77"></a>
<FONT color="green">078</FONT>        public static final int IME_ACTION_DONE = 0x00000006;<a name="line.78"></a>
<FONT color="green">079</FONT>        <a name="line.79"></a>
<FONT color="green">080</FONT>        /**<a name="line.80"></a>
<FONT color="green">081</FONT>         * Flag of {@link #imeOptions}: used to specify that the IME does not need<a name="line.81"></a>
<FONT color="green">082</FONT>         * to show its extracted text UI.  For input methods that may be fullscreen,<a name="line.82"></a>
<FONT color="green">083</FONT>         * often when in landscape mode, this allows them to be smaller and let part<a name="line.83"></a>
<FONT color="green">084</FONT>         * of the application be shown behind.  Though there will likely be limited<a name="line.84"></a>
<FONT color="green">085</FONT>         * access to the application available from the user, it can make the<a name="line.85"></a>
<FONT color="green">086</FONT>         * experience of a (mostly) fullscreen IME less jarring.  Note that when<a name="line.86"></a>
<FONT color="green">087</FONT>         * this flag is specified the IME may &lt;em&gt;not&lt;/em&gt; be set up to be able<a name="line.87"></a>
<FONT color="green">088</FONT>         * to display text, so it should only be used in situations where this is<a name="line.88"></a>
<FONT color="green">089</FONT>         * not needed.<a name="line.89"></a>
<FONT color="green">090</FONT>         */<a name="line.90"></a>
<FONT color="green">091</FONT>        public static final int IME_FLAG_NO_EXTRACT_UI = 0x10000000;<a name="line.91"></a>
<FONT color="green">092</FONT>        <a name="line.92"></a>
<FONT color="green">093</FONT>        /**<a name="line.93"></a>
<FONT color="green">094</FONT>         * Flag of {@link #imeOptions}: used in conjunction with<a name="line.94"></a>
<FONT color="green">095</FONT>         * {@link #IME_MASK_ACTION}, this indicates that the action should not<a name="line.95"></a>
<FONT color="green">096</FONT>         * be available as an accessory button when the input method is full-screen.<a name="line.96"></a>
<FONT color="green">097</FONT>         * Note that by setting this flag, there can be cases where the action<a name="line.97"></a>
<FONT color="green">098</FONT>         * is simply never available to the user.  Setting this generally means<a name="line.98"></a>
<FONT color="green">099</FONT>         * that you think showing text being edited is more important than the<a name="line.99"></a>
<FONT color="green">100</FONT>         * action you have supplied. <a name="line.100"></a>
<FONT color="green">101</FONT>         */<a name="line.101"></a>
<FONT color="green">102</FONT>        public static final int IME_FLAG_NO_ACCESSORY_ACTION = 0x20000000;<a name="line.102"></a>
<FONT color="green">103</FONT>        <a name="line.103"></a>
<FONT color="green">104</FONT>        /**<a name="line.104"></a>
<FONT color="green">105</FONT>         * Flag of {@link #imeOptions}: used in conjunction with<a name="line.105"></a>
<FONT color="green">106</FONT>         * {@link #IME_MASK_ACTION}, this indicates that the action should not<a name="line.106"></a>
<FONT color="green">107</FONT>         * be available in-line as a replacement for "enter" key.  Typically this is<a name="line.107"></a>
<FONT color="green">108</FONT>         * because the action has such a significant impact or is not recoverable<a name="line.108"></a>
<FONT color="green">109</FONT>         * enough that accidentally hitting it should be avoided, such as sending<a name="line.109"></a>
<FONT color="green">110</FONT>         * a message.  Note that {@link android.widget.TextView} will automatically set this<a name="line.110"></a>
<FONT color="green">111</FONT>         * flag for you on multi-line text views.<a name="line.111"></a>
<FONT color="green">112</FONT>         */<a name="line.112"></a>
<FONT color="green">113</FONT>        public static final int IME_FLAG_NO_ENTER_ACTION = 0x40000000;<a name="line.113"></a>
<FONT color="green">114</FONT>        <a name="line.114"></a>
<FONT color="green">115</FONT>        /**<a name="line.115"></a>
<FONT color="green">116</FONT>         * Generic unspecified type for {@link #imeOptions}.<a name="line.116"></a>
<FONT color="green">117</FONT>         */<a name="line.117"></a>
<FONT color="green">118</FONT>        public static final int IME_NULL = 0x00000000;<a name="line.118"></a>
<FONT color="green">119</FONT>        <a name="line.119"></a>
<FONT color="green">120</FONT>        /**<a name="line.120"></a>
<FONT color="green">121</FONT>         * Extended type information for the editor, to help the IME better<a name="line.121"></a>
<FONT color="green">122</FONT>         * integrate with it.<a name="line.122"></a>
<FONT color="green">123</FONT>         */<a name="line.123"></a>
<FONT color="green">124</FONT>        public int imeOptions = IME_NULL;<a name="line.124"></a>
<FONT color="green">125</FONT>        <a name="line.125"></a>
<FONT color="green">126</FONT>        /**<a name="line.126"></a>
<FONT color="green">127</FONT>         * A string supplying additional information options that are<a name="line.127"></a>
<FONT color="green">128</FONT>         * private to a particular IME implementation.  The string must be<a name="line.128"></a>
<FONT color="green">129</FONT>         * scoped to a package owned by the implementation, to ensure there are<a name="line.129"></a>
<FONT color="green">130</FONT>         * no conflicts between implementations, but other than that you can put<a name="line.130"></a>
<FONT color="green">131</FONT>         * whatever you want in it to communicate with the IME.  For example,<a name="line.131"></a>
<FONT color="green">132</FONT>         * you could have a string that supplies an argument like<a name="line.132"></a>
<FONT color="green">133</FONT>         * &lt;code&gt;"com.example.myapp.SpecialMode=3"&lt;/code&gt;.  This field is can be<a name="line.133"></a>
<FONT color="green">134</FONT>         * filled in from the {@link android.R.attr#privateImeOptions}<a name="line.134"></a>
<FONT color="green">135</FONT>         * attribute of a TextView.<a name="line.135"></a>
<FONT color="green">136</FONT>         */<a name="line.136"></a>
<FONT color="green">137</FONT>        public String privateImeOptions = null;<a name="line.137"></a>
<FONT color="green">138</FONT>        <a name="line.138"></a>
<FONT color="green">139</FONT>        /**<a name="line.139"></a>
<FONT color="green">140</FONT>         * In some cases an IME may be able to display an arbitrary label for<a name="line.140"></a>
<FONT color="green">141</FONT>         * a command the user can perform, which you can specify here.  You can<a name="line.141"></a>
<FONT color="green">142</FONT>         * not count on this being used.<a name="line.142"></a>
<FONT color="green">143</FONT>         */<a name="line.143"></a>
<FONT color="green">144</FONT>        public CharSequence actionLabel = null;<a name="line.144"></a>
<FONT color="green">145</FONT>        <a name="line.145"></a>
<FONT color="green">146</FONT>        /**<a name="line.146"></a>
<FONT color="green">147</FONT>         * If {@link #actionLabel} has been given, this is the id for that command<a name="line.147"></a>
<FONT color="green">148</FONT>         * when the user presses its button that is delivered back with<a name="line.148"></a>
<FONT color="green">149</FONT>         * {@link InputConnection#performEditorAction(int)<a name="line.149"></a>
<FONT color="green">150</FONT>         * InputConnection.performEditorAction()}.<a name="line.150"></a>
<FONT color="green">151</FONT>         */<a name="line.151"></a>
<FONT color="green">152</FONT>        public int actionId = 0;<a name="line.152"></a>
<FONT color="green">153</FONT>        <a name="line.153"></a>
<FONT color="green">154</FONT>        /**<a name="line.154"></a>
<FONT color="green">155</FONT>         * The text offset of the start of the selection at the time editing<a name="line.155"></a>
<FONT color="green">156</FONT>         * began; -1 if not known.<a name="line.156"></a>
<FONT color="green">157</FONT>         */<a name="line.157"></a>
<FONT color="green">158</FONT>        public int initialSelStart = -1;<a name="line.158"></a>
<FONT color="green">159</FONT>        <a name="line.159"></a>
<FONT color="green">160</FONT>        /**<a name="line.160"></a>
<FONT color="green">161</FONT>         * The text offset of the end of the selection at the time editing<a name="line.161"></a>
<FONT color="green">162</FONT>         * began; -1 if not known.<a name="line.162"></a>
<FONT color="green">163</FONT>         */<a name="line.163"></a>
<FONT color="green">164</FONT>        public int initialSelEnd = -1;<a name="line.164"></a>
<FONT color="green">165</FONT>        <a name="line.165"></a>
<FONT color="green">166</FONT>        /**<a name="line.166"></a>
<FONT color="green">167</FONT>         * The capitalization mode of the first character being edited in the<a name="line.167"></a>
<FONT color="green">168</FONT>         * text.  Values may be any combination of<a name="line.168"></a>
<FONT color="green">169</FONT>         * {@link TextUtils#CAP_MODE_CHARACTERS TextUtils.CAP_MODE_CHARACTERS},<a name="line.169"></a>
<FONT color="green">170</FONT>         * {@link TextUtils#CAP_MODE_WORDS TextUtils.CAP_MODE_WORDS}, and<a name="line.170"></a>
<FONT color="green">171</FONT>         * {@link TextUtils#CAP_MODE_SENTENCES TextUtils.CAP_MODE_SENTENCES}, though<a name="line.171"></a>
<FONT color="green">172</FONT>         * you should generally just take a non-zero value to mean start out in<a name="line.172"></a>
<FONT color="green">173</FONT>         * caps mode.<a name="line.173"></a>
<FONT color="green">174</FONT>         */<a name="line.174"></a>
<FONT color="green">175</FONT>        public int initialCapsMode = 0;<a name="line.175"></a>
<FONT color="green">176</FONT>        <a name="line.176"></a>
<FONT color="green">177</FONT>        /**<a name="line.177"></a>
<FONT color="green">178</FONT>         * The "hint" text of the text view, typically shown in-line when the<a name="line.178"></a>
<FONT color="green">179</FONT>         * text is empty to tell the user what to enter.<a name="line.179"></a>
<FONT color="green">180</FONT>         */<a name="line.180"></a>
<FONT color="green">181</FONT>        public CharSequence hintText;<a name="line.181"></a>
<FONT color="green">182</FONT>        <a name="line.182"></a>
<FONT color="green">183</FONT>        /**<a name="line.183"></a>
<FONT color="green">184</FONT>         * A label to show to the user describing the text they are writing.<a name="line.184"></a>
<FONT color="green">185</FONT>         */<a name="line.185"></a>
<FONT color="green">186</FONT>        public CharSequence label;<a name="line.186"></a>
<FONT color="green">187</FONT>        <a name="line.187"></a>
<FONT color="green">188</FONT>        /**<a name="line.188"></a>
<FONT color="green">189</FONT>         * Name of the package that owns this editor.<a name="line.189"></a>
<FONT color="green">190</FONT>         */<a name="line.190"></a>
<FONT color="green">191</FONT>        public String packageName;<a name="line.191"></a>
<FONT color="green">192</FONT>        <a name="line.192"></a>
<FONT color="green">193</FONT>        /**<a name="line.193"></a>
<FONT color="green">194</FONT>         * Identifier for the editor's field.  This is optional, and may be<a name="line.194"></a>
<FONT color="green">195</FONT>         * 0.  By default it is filled in with the result of<a name="line.195"></a>
<FONT color="green">196</FONT>         * {@link android.view.View#getId() View.getId()} on the View that<a name="line.196"></a>
<FONT color="green">197</FONT>         * is being edited.<a name="line.197"></a>
<FONT color="green">198</FONT>         */<a name="line.198"></a>
<FONT color="green">199</FONT>        public int fieldId;<a name="line.199"></a>
<FONT color="green">200</FONT>        <a name="line.200"></a>
<FONT color="green">201</FONT>        /**<a name="line.201"></a>
<FONT color="green">202</FONT>         * Additional name for the editor's field.  This can supply additional<a name="line.202"></a>
<FONT color="green">203</FONT>         * name information for the field.  By default it is null.  The actual<a name="line.203"></a>
<FONT color="green">204</FONT>         * contents have no meaning.<a name="line.204"></a>
<FONT color="green">205</FONT>         */<a name="line.205"></a>
<FONT color="green">206</FONT>        public String fieldName;<a name="line.206"></a>
<FONT color="green">207</FONT>        <a name="line.207"></a>
<FONT color="green">208</FONT>        /**<a name="line.208"></a>
<FONT color="green">209</FONT>         * Any extra data to supply to the input method.  This is for extended<a name="line.209"></a>
<FONT color="green">210</FONT>         * communication with specific input methods; the name fields in the<a name="line.210"></a>
<FONT color="green">211</FONT>         * bundle should be scoped (such as "com.mydomain.im.SOME_FIELD") so<a name="line.211"></a>
<FONT color="green">212</FONT>         * that they don't conflict with others.  This field is can be<a name="line.212"></a>
<FONT color="green">213</FONT>         * filled in from the {@link android.R.attr#editorExtras}<a name="line.213"></a>
<FONT color="green">214</FONT>         * attribute of a TextView.<a name="line.214"></a>
<FONT color="green">215</FONT>         */<a name="line.215"></a>
<FONT color="green">216</FONT>        public Bundle extras;<a name="line.216"></a>
<FONT color="green">217</FONT>        <a name="line.217"></a>
<FONT color="green">218</FONT>        /**<a name="line.218"></a>
<FONT color="green">219</FONT>         * Write debug output of this object.<a name="line.219"></a>
<FONT color="green">220</FONT>         */<a name="line.220"></a>
<FONT color="green">221</FONT>        public void dump(Printer pw, String prefix) {<a name="line.221"></a>
<FONT color="green">222</FONT>            pw.println(prefix + "inputType=0x" + Integer.toHexString(inputType)<a name="line.222"></a>
<FONT color="green">223</FONT>                    + " imeOptions=0x" + Integer.toHexString(imeOptions)<a name="line.223"></a>
<FONT color="green">224</FONT>                    + " privateImeOptions=" + privateImeOptions);<a name="line.224"></a>
<FONT color="green">225</FONT>            pw.println(prefix + "actionLabel=" + actionLabel<a name="line.225"></a>
<FONT color="green">226</FONT>                    + " actionId=" + actionId);<a name="line.226"></a>
<FONT color="green">227</FONT>            pw.println(prefix + "initialSelStart=" + initialSelStart<a name="line.227"></a>
<FONT color="green">228</FONT>                    + " initialSelEnd=" + initialSelEnd<a name="line.228"></a>
<FONT color="green">229</FONT>                    + " initialCapsMode=0x"<a name="line.229"></a>
<FONT color="green">230</FONT>                    + Integer.toHexString(initialCapsMode));<a name="line.230"></a>
<FONT color="green">231</FONT>            pw.println(prefix + "hintText=" + hintText<a name="line.231"></a>
<FONT color="green">232</FONT>                    + " label=" + label);<a name="line.232"></a>
<FONT color="green">233</FONT>            pw.println(prefix + "packageName=" + packageName<a name="line.233"></a>
<FONT color="green">234</FONT>                    + " fieldId=" + fieldId<a name="line.234"></a>
<FONT color="green">235</FONT>                    + " fieldName=" + fieldName);<a name="line.235"></a>
<FONT color="green">236</FONT>            pw.println(prefix + "extras=" + extras);<a name="line.236"></a>
<FONT color="green">237</FONT>        }<a name="line.237"></a>
<FONT color="green">238</FONT>        <a name="line.238"></a>
<FONT color="green">239</FONT>        /**<a name="line.239"></a>
<FONT color="green">240</FONT>         * Used to package this object into a {@link Parcel}.<a name="line.240"></a>
<FONT color="green">241</FONT>         * <a name="line.241"></a>
<FONT color="green">242</FONT>         * @param dest The {@link Parcel} to be written.<a name="line.242"></a>
<FONT color="green">243</FONT>         * @param flags The flags used for parceling.<a name="line.243"></a>
<FONT color="green">244</FONT>         */<a name="line.244"></a>
<FONT color="green">245</FONT>        public void writeToParcel(Parcel dest, int flags) {<a name="line.245"></a>
<FONT color="green">246</FONT>            dest.writeInt(inputType);<a name="line.246"></a>
<FONT color="green">247</FONT>            dest.writeInt(imeOptions);<a name="line.247"></a>
<FONT color="green">248</FONT>            dest.writeString(privateImeOptions);<a name="line.248"></a>
<FONT color="green">249</FONT>            TextUtils.writeToParcel(actionLabel, dest, flags);<a name="line.249"></a>
<FONT color="green">250</FONT>            dest.writeInt(actionId);<a name="line.250"></a>
<FONT color="green">251</FONT>            dest.writeInt(initialSelStart);<a name="line.251"></a>
<FONT color="green">252</FONT>            dest.writeInt(initialSelEnd);<a name="line.252"></a>
<FONT color="green">253</FONT>            dest.writeInt(initialCapsMode);<a name="line.253"></a>
<FONT color="green">254</FONT>            TextUtils.writeToParcel(hintText, dest, flags);<a name="line.254"></a>
<FONT color="green">255</FONT>            TextUtils.writeToParcel(label, dest, flags);<a name="line.255"></a>
<FONT color="green">256</FONT>            dest.writeString(packageName);<a name="line.256"></a>
<FONT color="green">257</FONT>            dest.writeInt(fieldId);<a name="line.257"></a>
<FONT color="green">258</FONT>            dest.writeString(fieldName);<a name="line.258"></a>
<FONT color="green">259</FONT>            dest.writeBundle(extras);<a name="line.259"></a>
<FONT color="green">260</FONT>        }<a name="line.260"></a>
<FONT color="green">261</FONT>    <a name="line.261"></a>
<FONT color="green">262</FONT>        /**<a name="line.262"></a>
<FONT color="green">263</FONT>         * Used to make this class parcelable.<a name="line.263"></a>
<FONT color="green">264</FONT>         */<a name="line.264"></a>
<FONT color="green">265</FONT>        public static final Parcelable.Creator&lt;EditorInfo&gt; CREATOR = new Parcelable.Creator&lt;EditorInfo&gt;() {<a name="line.265"></a>
<FONT color="green">266</FONT>            public EditorInfo createFromParcel(Parcel source) {<a name="line.266"></a>
<FONT color="green">267</FONT>                EditorInfo res = new EditorInfo();<a name="line.267"></a>
<FONT color="green">268</FONT>                res.inputType = source.readInt();<a name="line.268"></a>
<FONT color="green">269</FONT>                res.imeOptions = source.readInt();<a name="line.269"></a>
<FONT color="green">270</FONT>                res.privateImeOptions = source.readString();<a name="line.270"></a>
<FONT color="green">271</FONT>                res.actionLabel = TextUtils.CHAR_SEQUENCE_CREATOR.createFromParcel(source);<a name="line.271"></a>
<FONT color="green">272</FONT>                res.actionId = source.readInt();<a name="line.272"></a>
<FONT color="green">273</FONT>                res.initialSelStart = source.readInt();<a name="line.273"></a>
<FONT color="green">274</FONT>                res.initialSelEnd = source.readInt();<a name="line.274"></a>
<FONT color="green">275</FONT>                res.initialCapsMode = source.readInt();<a name="line.275"></a>
<FONT color="green">276</FONT>                res.hintText = TextUtils.CHAR_SEQUENCE_CREATOR.createFromParcel(source);<a name="line.276"></a>
<FONT color="green">277</FONT>                res.label = TextUtils.CHAR_SEQUENCE_CREATOR.createFromParcel(source);<a name="line.277"></a>
<FONT color="green">278</FONT>                res.packageName = source.readString();<a name="line.278"></a>
<FONT color="green">279</FONT>                res.fieldId = source.readInt();<a name="line.279"></a>
<FONT color="green">280</FONT>                res.fieldName = source.readString();<a name="line.280"></a>
<FONT color="green">281</FONT>                res.extras = source.readBundle();<a name="line.281"></a>
<FONT color="green">282</FONT>                return res;<a name="line.282"></a>
<FONT color="green">283</FONT>            }<a name="line.283"></a>
<FONT color="green">284</FONT>    <a name="line.284"></a>
<FONT color="green">285</FONT>            public EditorInfo[] newArray(int size) {<a name="line.285"></a>
<FONT color="green">286</FONT>                return new EditorInfo[size];<a name="line.286"></a>
<FONT color="green">287</FONT>            }<a name="line.287"></a>
<FONT color="green">288</FONT>        };<a name="line.288"></a>
<FONT color="green">289</FONT>    <a name="line.289"></a>
<FONT color="green">290</FONT>        public int describeContents() {<a name="line.290"></a>
<FONT color="green">291</FONT>            return 0;<a name="line.291"></a>
<FONT color="green">292</FONT>        }<a name="line.292"></a>
<FONT color="green">293</FONT>    <a name="line.293"></a>
<FONT color="green">294</FONT>    }<a name="line.294"></a>




























































</PRE>
</BODY>
</HTML>
